.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .container{
    @media screen and (max-width: $mobile){
       width: 480px;
       display: block;
    }

    @media screen and (min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // width: 768px;
    }
    @media screen and (min-width: $desktop) {
        align-items: baseline;
    }
    
}

.footer .logo{
    color: #fff;
}
.adderess{
    margin-top: 20px;
    color: #FFFFFF;
}
.footer-nav{
    @media screen and (max-width: $mobile){
        margin-bottom: 60px;
        text-align: center;
        margin-left: 60px;
    }
}