.fetures{
    @media screen and (min-width: $desktop) {
     display: flex;
     justify-content: space-between;    
    }
    
}
.fetures-item{
    width: 70px;
    height: 70px;
}
.fetures-box{
    width: 270px;
    background-color: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
}
