.fetures{
    @media screen and (min-width: $desktop) {
     display: flex;
     justify-content: space-between;    
    }
    
}
.fetures-item{
    width: 70px;
    height: 70px;
}
.fetures-box{
    background-color: #F5F4FA;
    margin-bottom: 30px;

    @media screen and (min-width: $mobile) {
        padding: 25px 190px;
    }

    width: 270px;

    padding: 25px 100px;  
}
