.fetures-icon{
    @media screen and (max-width: $desktop) {
    width: 70px;
    height: 70px;
    }
    
}
.fetures-items{
    @media screen and (min-width: $tablet){
      margin: 15px;
    width: calc((100% - 60px) / 2);  
    height: 120px;
    }
    @media screen and (min-width: $desktop) {
        height: 120px;
        width: 320px;
    }
    
}
.fetures-items{
    @media screen and (max-width: 767px) {
         margin-bottom: 30px;
         margin-right: 30px;
       }
}
.fetures-box{
    background-color: #F5F4FA;
    margin-bottom: 30px;
     justify-content: center;
     display: flex;
     align-items: center;

    @media screen and (max-width: $tablet) {
        padding: 25px 190px;
        width: 450px;
        height: 120px;
    }

    // width: 270px;

    // padding: 25px 100px;  
}
.fetures{

    @media screen and (min-width: $mobile) {
        display: block;
    }
     @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
     }
    @media screen and (min-width: $desktop) {
     display: flex;
     justify-content: space-between;    
    }
}
.main-text{
    font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

margin-bottom: 10px;
}
.text{
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: var(-secondary-text-color);

}
