.section.header{
    padding-top: 24px;
    padding-bottom: 25px;
    position: relative;
}

.menu-button{
    position: absolute;

    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    z-index: 5;
    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
    & .icon-close{
    display: none;
}
&.is-open .icon-close{
    display: block;
}
&.is-open .icon-menu{
    display: none;
}
@media screen and (min-width: $tablet) {
    display: none;
}
}

.mobile-menu{
    @media screen and (max-width: 767px) {
     display: none;
     position: absolute;

    z-index: 3;
     top: 0;
     left: 0;
     width: 1000px;
     height: 1000vh;
    background-color: var(--thirdly-text-color);   
    }

     &.is-open{
        display: block;
    }
    @media screen and (min-width: $tablet){
        display: flex;
    }
}

.container.nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: 'Raleway';
 font-style: normal;
 font-weight: 700;
 font-size: 26px;
 line-height: 31px;
 letter-spacing: 0.03em;

 color: var(--primary-text-color);
}
.logo span{
 color: var(--accent-color);
}

nav{
    margin-left: 93px;
}

.nav-list{
display: flex;
}

.nav-item:not(:first-child){
margin-left: 54px;
}
.nav-link
.contact-link{
    /* font-family: 'Roboto'; */
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
.contacts-list{
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
}
    @media screen and (min-width: $desktop) {
     margin-left: auto;  

     &:not(:first-child) {
      margin-left: 50px;
      }
    }

}

.contact-link{
    color: var(--secondary-text-color);
}
.contact-item:first-child{
    @media screen and (min-width: $tablet){
        margin-bottom: 10px;
    }  
}