nav{
    margin-left: 93px;
}

.nav-list{
display: flex;
}

.nav-item:not(:first-child){
margin-left: 54px;
}
.nav-link
.footer-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}
.contacts-list{
display: flex;
margin-left: auto;
}
.contact-item:not(:first-child){
    margin-left: 50px;
}
.contact-link{
    color: var(--secondary-text-color);
}