.section{
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width: $mobile) {
        width: 480px;
        // background-color: tomato;
    }
    @media screen and (min-width: $tablet) {
        width: 768px;
        // background-color: green;
    }
    @media screen and (min-width: $desktop) {
        width: 1200px;
        // background-color: orange;
    }
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}